* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #daefeb;
}

.header {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  background-color: #000000;
  padding: 2em;
  font-family: sans-serif;
}

.header_logo img {
  max-width: 10em;
  border-radius: 10px;
}

.nav-list {
  align-items: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 2.2em;
  margin-top: 2em;
}
.nav-list li a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(46, 176, 163, 0.978);
  font-size: 1.4em;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
}
.nav-list li :hover {
  background-color: #daefeb;
  color: #000000;
  border-radius: 5px;
  transition: 0.2s;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/*----------------GALERIA IMAGENES INDEX------------------------------- */
.main {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

.main_titulo {
  display: flex;
  position: relative; 
  height: 80vh; 
  background-size: cover;
  background-position: center; 
  text-align: center;
  overflow: hidden;
  
}
.main_titulo p {
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
  width: 100vw;
  background-size: cover;
  background-position: center;
  font-family: "Libre Baskerville", serif;
  font-size: 4em;
  text-align: center;
  color: #000000;
}

.main_titulo img {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.4; 

}

.main_galeria {
  color: rgba(0, 0, 0, 0.978);
  display: flex;
  flex-wrap: wrap;

  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  text-align: center;
  padding: 10px;
  margin: 8px;

}
.main_galeria_card {
 
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(12, 28, 26, 0.978);
}
.main_galeria_card p {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 5px 0;
  font-weight: bold;
  
}

.main_galeria_card img {
  width: 270px;
  height: 270px;
  margin-bottom: 10px; /* Agrega espacio debajo de la imagen */
  border-radius: 10px;
}
.main_galeria_card img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/*-------------------------          Pagina muebles     ------------------------        */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;

  
}

.grid-container img {
  height: 14em;
  width: 14em;
  padding: 1em;
}

.grid-item {
  background-color: #daefeb;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  
}

.grid-item p {
  font-size: 1.2em;
  padding: 1em;
}

.grid-item h3 {
  padding: 15px;
}

.grid-item img:hover {
  color: white;
  height: 16em;
  width: 16em;
  transition: 0.5s;
}

.lineas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*--------------------- LOGIN ----------------------*/
.center-alinea{
  display: flex;
  justify-content: center;

}

.inicio-sesion {
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  padding: 25px;
  border-radius: 40px;
  margin: 25px;

  display: flex;
  justify-content: center;

}

.inicio-sesion div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rounder-info {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;


}

#boton-inicio {

  margin-top: 10px;
  padding: 20px;
  


}

.imagen-center{
 display: flex;
  justify-content: center;
  align-items: center;

}

.oimagen{
  align-content: center;
  margin-bottom: 10px;

}


.principal{
  display: block;
 /* justify-content: center;
  align-items: center;*/

  padding-left: 40px;
  padding-right: 40px;
}

.center-list{
  display: block;
  text-align: center;
  width: 100%;
  background-color: gray;
  
}

.tabla{

  display: flex;
  justify-content: center;
}

.margen{
  margin-left: 20px;
}

table, thead, tr{
  width: 100%;
  padding: 15px;

}

.contenedor-centrado a {
  text-decoration: none;
  
}
.contenedor-centrado {
  padding: 20px;
  background-color: #068683;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 30px;
  margin-top: 30px;

}
.contenedor-centrado:hover{
  background-color: aqua;
}

.botones{
  display: flex;
  justify-content: space-between;

  width: 100%;
  

}




@media screen and (max-width: 600px) {
  .grid-container {
    display: block;
  }
  .grid-container img {
    height: 17em;
    width: 17em;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-container img {
    height: 17em;
    width: 17em;
  }
}

/*--------------------------------footer--------------------------------------*/
.footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: rgba(46, 176, 163, 0.978);
}
.footer_logo {
  gap: 2rem;
  margin: 25px;
}
.footer_logo img {
  max-width: 4rem;
  border-radius: 10px;
}
.footer_data {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.footer_iconos {
  color: #daefeb;
  padding: 10px;
}

.footer_iconos a {
  font-size: 2.3rem;
  margin: 25px;
  background: rgba(46, 176, 163, 0.978);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.978);
}
.footer_iconos a:hover {
  background-color: #daefeb;
  transition: 0.2s;
}

/*----------------------------h1 de las paginas------------------------------------*/
h1 {
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
  width: 100vw;
  margin-bottom: 1em;
  background-size: cover;
  background-position: center;
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  text-align: center;
  align-items: center;

  background-color: black;
  color: rgba(46, 176, 163, 0.978);
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5em;
  padding: 3rem;
  width: 100%;
}
/*---------------------------PAGINA NOSOTROS-----------------------------------*/

.main_desarrollo {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}
.main_desarrollo p {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}
.main_desarrollo img {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.2;
}

/*-------------------Pagina contacto---------------------------------*/
.main_ofrecemos {
  display: flex;
  background-color: rgba(46, 176, 163, 0.978);
  gap: 1em;
}
.main_ofrecemos p {
  font-size: 1.3em;
  text-align: center;
}

.FormularioContacto {
  padding: 1em;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(46, 176, 163, 0.978);

  background-color: #068683;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  gap: 2em;
  font-weight: bold;
}
.mapa {
  width: 40em;
  margin: 0 auto;
  padding: 2em;
  font-size: 30px;
  overflow: hidden;
  font-size: 1em;
  gap: 1em;
}
.mapa p {
  font-family: "Cinzel Decorative", serif;
}

form {
  display: flex; 
  flex-direction: column; 
  width: 70%; 
  margin: 0 auto; 
 /* margin-left: 3em;
  margin-bottom: 2em;*/
}
.datos {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #068683;
  border-radius: 5px;
  margin-bottom: 15px;
}
.form-check-input {
  margin-right: 5px;
  cursor: pointer;
}
.error {
  color: red;
  margin-bottom: 10px;
}

button {
  background-color: #daefeb;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  gap: 1em;
}
input {
  background-color: #daefeb;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin: 0 auto;
  }
  .mapa {
    position: relative;
  }
  .form-control {
    width: 95%;
  }

  .form-check {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-check-label {
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
  }
  .form-label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
  }
}

/*************************pagina muebles, carrousel*********************/

.carrousel {
  width: 65%;
  max-width: 100em;
  margin-right: 10px;
  color: #000000;
  transition: all 0.4s ease;
  background-color: rgba(46, 176, 163, 0.978);
  overflow: hidden;
  margin: 0 auto;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 1em;
  padding: 1em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 2 - 2em);
  min-height: 8vh;
  transition: all 0.4s ease;
  border-radius: 1em;
}

.carrousel .puntos {
  width: 100%;

  padding: 0.6em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 1.5em;
  height: 1.5em;
  margin: 1em 1em 0;

  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: rgba(35, 82, 89, 0.978);
  cursor: pointer;
}

.carrousel .punto.activo {
  background-color: #daefeb;
}
.carrousel .punto.activo::marker {
  color: rgba(46, 176, 163, 0.978);
}
.carrousel .punto::marker {
  color: rgba(46, 176, 163, 0.978);
}

/*****************************dispositivo movil*****************************************************************/
@media screen and (max-width: 600px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25em;
    cursor: pointer;
    padding: 1rem;
  }
  .abrir-menu {
    color: #000000;
    background-color: rgba(46, 176, 163, 0.978);
  }
  .cerrar-menu {
    color: #000000;
    background-color: rgba(46, 176, 163, 0.978);
  }
  /*bars_menu*/
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 176, 163, 0.978);
    padding: 2em;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  }
  .nav.visible {
    display: flex;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav-list li a {
    color: black;
  }
  .nav-list li :hover {
    background-color: #daefeb;

    transition: 0.2s;
  }

  .main_titulo p {
    font-size: 2rem;
  }

  .cerrar-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  /*------------h1 y h2 para movil---------------------------- */
  h1,
  h2 {
    font-size: 1.5rem;
    gap: 2em;
  }












  /*------------footer para movil ---------------------------- */
  .footer {
    gap: 2rem;
    flex-direction: column; /* Apilar elementos verticalmente en pantallas peque침as */
    align-items: center; /* Alinear elementos a la izquierda */
  }

  .footer_logo,
  .footer_data,
  .footer_iconos {
    flex: auto; /* Permitir que las secciones crezcan o se reduzcan proporcionalmente */
  }

  .footer_data div {
    font-size: 1rem; /* Ajusta el tama침o de la fuente para pantallas m치s peque침as */
  }
}
